<a href="https://colab.research.google.com/github/flp-digerati/python-exercicios-curso-em-video/blob/main/python_mundo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 16

In [ ]:
lanche = ('hamburguer','pizza','suco','pudim','fritas')

for c in lanche:
  print(f'Eu comi {c}.')

print(f'Eu comi {len(lanche)} itens do cardápio!')

Eu comi hamburguer.
Eu comi pizza.
Eu comi suco.
Eu comi pudim.
Eu comi fritas.
Eu comi 5 itens do cardápio!

Exercício Python 72: Crie um programa que tenha uma dupla totalmente preenchida com uma contagem por extenso, de zero até vinte. Seu programa deverá ler um número pelo teclado (entre 0 e 20) e mostrá-lo por extenso.

In [ ]:
lisExt = ('zero','um','dois','três','quatro','cinco','seis','sete','oito','nove','dez','onze','doze','treze','quatorze','quinze','dezesseis','dezessete','dezoito','dezenove','vinte')

while True:
  n = int(input('Digite um número de 0 a 20: '))
  if 0 <= n <= 20: 
    print(lisExt[n])
    break

Digite um número de 0 a 20: 15
quinze

Exercício Python 73: Crie uma tupla preenchida com os 20 primeiros colocados da Tabela do Campeonato Brasileiro de Futebol, na ordem de colocação. Depois mostre:

In [ ]:
campbra = ('Palmeiras','Flamengo','Internacional','Grêmio','São Paulo','Atlético-MG','Athletico-PR','Cruzeiro','Botafogo','Santos','Bahia','Fluminense','Cotinthians','Chapecoense','Ceará','Vasco','Sport','America-MG','Vitória','Paraná')

print(campbra)

('Palmeiras', 'Flamengo', 'Internacional', 'Grêmio', 'São Paulo', 'Atlético-MG', 'Athletico-PR', 'Cruzeiro', 'Botafogo', 'Santos', 'Bahia', 'Fluminense', 'Cotinthians', 'Chapecoense', 'Ceará', 'Vasco', 'Sport', 'America-MG', 'Vitória', 'Paraná')

Exercício Python 73: Crie uma tupla preenchida com os 20 primeiros colocados da Tabela do Campeonato Brasileiro de Futebol, na ordem de colocação. Depois mostre:

a) Os 5 primeiros times.

b) Os últimos 4 colocados.

c) Times em ordem alfabética.

d) Em que posição está o time da Chapecoense.

In [ ]:
print(campbra[:5])

print(campbra[-4:])

print(sorted(campbra))

('Palmeiras', 'Flamengo', 'Internacional', 'Grêmio', 'São Paulo')
('Sport', 'America-MG', 'Vitória', 'Paraná')
['America-MG', 'Athletico-PR', 'Atlético-MG', 'Bahia', 'Botafogo', 'Ceará', 'Chapecoense', 'Cotinthians', 'Cruzeiro', 'Flamengo', 'Fluminense', 'Grêmio', 'Internacional', 'Palmeiras', 'Paraná', 'Santos', 'Sport', 'São Paulo', 'Vasco', 'Vitória']

Exercício Python 074: Crie um programa que vai gerar cinco números aleatórios e colocar em uma tupla. Depois disso, mostre a listagem de números gerados e também indique o menor e o maior valor que estão na tupla.

In [ ]:
from random import randint
c = 1
t = ()

while c <= 5: 
  nums = randint(1,5)
  c += 1
  
  t = t + (nums,)
  

print(sorted(t))
print(type(nums))

[2, 2, 3, 4, 4]
<class 'int'>

In [ ]:
from random import randint
num = (randint(1, 10), randint(1, 10), randint(1, 10), randint(1, 10), randint(1, 10))

print('Os valores sorteados foram: ', end="")

for n in num:
  print(f'{num}', end = '')

Os valores sorteados foram: (3, 3, 1, 9, 1)(3, 3, 1, 9, 1)(3, 3, 1, 9, 1)(3, 3, 1, 9, 1)(3, 3, 1, 9, 1)

In [ ]:
from random import sample
a = tuple(sample(range(10), 5))
print(a)
print(f'O maior valor é {max(a)} e o menor é {min(a)}.')

(7, 2, 3, 6, 0)
O maior valor é 7 e o menor é 0.

Exercício Python 075: Desenvolva um programa que leia quatro valores pelo teclado e guarde-os em uma tupla. No final, mostre:

A) Quantas vezes apareceu o valor 9.

B) Em que posição foi digitado o primeiro valor 3.

C) Quais foram os números pares.

In [ ]:
num = (int(input('Digite um número: ')),
      int(input('Digite outro número: ')),
      int(input('Digite mais um número: ')),
      int(input('Digite o último número: ')))

print(f'Você digitou {num}')

print(f'O núm 9 apareceu {num.count(9)} vezes.')

if 3 in num:
  print(f'O núm 3 apareceu na {num.index(3)+1}a posição')
else: print('O valor 3 não foi informado.')
print('Estes são os valores pares: ')

for n in num:  
  if n % 2 == 0:
    print(n, end=' ')

Digite um número: 4
Digite outro número: 5
Digite mais um número: 7
Digite o último número: 8
Você digitou (4, 5, 7, 8)
O núm 9 apareceu 0 vezes.
O valor 3 não foi informado.
Estes são os valores pares:
4 8

Exercício Python 076: Crie um programa que tenha uma tupla única com nomes de produtos e seus respectivos preços, na sequência. No final, mostre uma listagem de preços, organizando os dados em forma tabular.

In [ ]:
lista = ('Lápis', 1.75,
            'Borracha', 2,
            'Caderno', 15.90,
            'Estojo', 25,
            'Transferidor', 4.20,
            'Compasso', 9.99,
            'Mochila', 120.32,
            'Canetas', 22.30,
            'Livro', 34.90)
print('-'*39)
print(f'{"LISTAGEM DE PREÇOS":^40}')
print('='*39)

for pos in range(0, len(lista)):
  if pos % 2 == 0:
    print(f'{lista[pos]:.<30}',end='')
  else: print(f'R${lista[pos]:>7.2f}')
  
print('='*39)

---------------------------------------
           LISTAGEM DE PREÇOS
=======================================
Lápis.........................R$   1.75
Borracha......................R$   2.00
Caderno.......................R$  15.90
Estojo........................R$  25.00
Transferidor..................R$   4.20
Compasso......................R$   9.99
Mochila.......................R$ 120.32
Canetas.......................R$  22.30
Livro.........................R$  34.90
=======================================